# Recolección de Datos

In [1]:
# importamos librerias

import pandas as pd
import yfinance as yf

In [2]:
# importamos la data desde internet

tickers = pd.read_csv("https://pkgstore.datahub.io/core/nyse-other-listings/nyse-listed_csv/data/3c88fab8ec158c3cd55145243fe5fcdf/nyse-listed_csv.csv")

In [3]:
tickers

     ACT Symbol                                       Company Name
0             A            Agilent Technologies, Inc. Common Stock
1            AA                            Alcoa Inc. Common Stock
2          AA$B  Alcoa Inc. Depository Shares Representing 1/10...
3           AAC                    AAC Holdings, Inc. Common Stock
4           AAN                         Aaron's, Inc. Common Stock
...         ...                                                ...
3293       ZPIN  Zhaopin Limited American Depositary Shares, ea...
3294        ZQK                      Quiksilver, Inc. Common Stock
3295        ZTR   Zweig Total Return Fund, Inc. (The) Common Stock
3296        ZTS                   Zoetis Inc. Class A Common Stock
3297         ZX  China Zenix Auto International Limited America...

[3298 rows x 2 columns]

In [4]:
# Creamos una LISTA solo de los simbolos, que es lo que nos interesa
symbols = tickers["ACT Symbol"].unique()

In [5]:
symbols

array(['A', 'AA', 'AA$B', ..., 'ZTR', 'ZTS', 'ZX'], dtype=object)

In [6]:
# DEscargamos data como en el anterior tutorial
df = yf.download(symbols[0], auto_adjust=True, period='5y')

[*********************100%***********************]  1 of 1 completed

In [7]:
# Cambiamos a minusuclas 
df.columns = df.columns.str.lower()

# Renombramos el indice
df.index = df.index.rename("datetime")

In [8]:
df

                  open        high         low       close   volume
datetime
2018-04-23   65.240296   66.165280   65.066861   65.587166  2260600
2018-04-24   63.968446   65.433009   63.631214   64.209328  3701600
2018-04-25   64.257512   64.633286   62.542438   63.399975  4451600
2018-04-26   63.804669   64.324974   63.496341   63.949200  1978600
2018-04-27   63.920278   64.132255   63.554141   63.862469  1189200
...                ...         ...         ...         ...      ...
2023-04-17  139.619995  140.210007  138.889999  140.190002  1115500
2023-04-18  140.729996  140.990005  138.210007  139.000000  1218900
2023-04-19  138.369995  139.619995  137.679993  138.929993  1178400
2023-04-20  136.860001  137.050003  134.869995  135.529999  1325900
2023-04-21  136.210007  138.559998  136.210007  138.500000  1533600

[1259 rows x 5 columns]

Guardamos la data como csv en la carpeta price_data

In [9]:
df.to_csv(f"price_data/{symbols[0]}.csv")

In [10]:
# Recargamos el csv y definimos nuevamente el indice porque no se guardó

loaded_csv = pd.read_csv(f"price_data/{symbols[0]}.csv", index_col="datetime")

In [11]:
loaded_csv

                  open        high         low       close   volume
datetime
2018-04-23   65.240296   66.165280   65.066861   65.587166  2260600
2018-04-24   63.968446   65.433009   63.631214   64.209328  3701600
2018-04-25   64.257512   64.633286   62.542438   63.399975  4451600
2018-04-26   63.804669   64.324974   63.496341   63.949200  1978600
2018-04-27   63.920278   64.132255   63.554141   63.862469  1189200
...                ...         ...         ...         ...      ...
2023-04-17  139.619995  140.210007  138.889999  140.190002  1115500
2023-04-18  140.729996  140.990005  138.210007  139.000000  1218900
2023-04-19  138.369995  139.619995  137.679993  138.929993  1178400
2023-04-20  136.860001  137.050003  134.869995  135.529999  1325900
2023-04-21  136.210007  138.559998  136.210007  138.500000  1533600

[1259 rows x 5 columns]

### Ahora cramos una función para descargar masivamente todo

In [21]:
def download_stock_data(folder = "price_data", years = 5):
    tickers = pd.read_csv("https://pkgstore.datahub.io/core/nyse-other-listings/nyse-listed_csv/data/3c88fab8ec158c3cd55145243fe5fcdf/nyse-listed_csv.csv")
    symbols = tickers["ACT Symbol"].unique()
    print (symbols)
    for symbol in symbols[0:5]:
        print (symbol)
        print (f"Guardando info en: {folder}/{symbol}.csv")
        try:
            df = yf.download(symbol, auto_adjust=True, period=f'{str(years)}y')

            # Para eliminar los csv que tengan nula o poca información
            if len(df) > 100:
                df.columns = df.columns.str.lower
                df.index = df.index.rename("datetime")
                #df.to_csv(f"{folder}/{symbol}.csv")
                df.to_csv(f"{folder}/{symbol}.csv")
                
        except Exception as e:
            print(f"error with {symbol}")
            print(repr(e))
            continue

In [22]:
download_stock_data()

['A' 'AA' 'AA$B' ... 'ZTR' 'ZTS' 'ZX']
A
Guardando info en: price_data/A.csv
[*********************100%***********************]  1 of 1 completed
error with A
TypeError("'method' object is not iterable")
AA
Guardando info en: price_data/AA.csv
[*********************100%***********************]  1 of 1 completed
error with AA
TypeError("'method' object is not iterable")
AA$B
Guardando info en: price_data/AA$B.csv
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AA$B: No data found, symbol may be delisted
AAC
Guardando info en: price_data/AAC.csv
[*********************100%***********************]  1 of 1 completed
error with AAC
TypeError("'method' object is not iterable")
AAN
Guardando info en: price_data/AAN.csv
[*********************100%***********************]  1 of 1 completed
error with AAN
TypeError("'method' object is not iterable")